// Do not use this file, this file is an blueprint for what fields are needed in this project
// create an .env file and copy these fields and fill YOUR data in
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USER=
DB_NAME=
FILE_ACCESS_SECRET=
SESSION_SECRET=
SECRET_CODE=
UPLOADTHING_TOKEN=